html
    head
        title= title
        script(type='text/javascript').
            var c = function() {
                var now = new Date()
                var timeLeft = new Date(#{timeLeft})

                while(timeLeft - now > 0) {
                    setTimeout(function() {
                        //- diff = now - timeLeft;
                        //- document.getElementById('countdown').innerText = diff.getTime();
                        console.log("hello");
                    }, 1000);
                }
            };
    body
        h1(id='countdown')