html
    head
        title #{title}
        script(type="text/javascript").
            var getOptions = function(count) {
                var opts = "";
                for (var i = 1; i <= count; i++) {
                    opts += '<option value="' + i + '">' + i + '</option>';
                }
                return opts;
            }
            
            window.onload = function() {
                document.getElementById("month").addEventListener("selectionchange", function() {
                    //var selected = document.getElementById("month").selectedIndex;
                    document.getElementById("day").innerHTML = getOptions(1); //months.getByOrder(selected).maxDays
                });
            }
    body
        form
            select(id="month")
                each mo in months.getAll()
                    option(value=mo.formatted) #{mo.formatted}
            select(id="day")
            select(id="year")