html
    head
        title #{title}
        script(type="text/javascript", src="js/form.js")
    body
        form
            select(id="month")
                option(disabled, selected, value)
                each mo in months.getAll()
                    option(value=mo.formatted) #{mo.formatted}
            select(id="day")
            select(id="year")